.ant-list-item {
    padding: 12px 12px !important;
}

.ant-table-cell .ant-btn.ant-btn-link {
    padding: 0 4px !important;
}

.ant-btn + .ant-btn {
    display: inline-block !important;
    margin-left: 5px;
}

.ant-typography {
    margin: 0 !important;
}

.ant-tag {
    font-weight: 600;
}

.ant-breadcrumb-link > a {
    text-transform: capitalize !important;
}

@primary-color: #262d34;
@selected-color: #2c353d;
